Repository physiopy/peakdet, pull requests merged in 2024-08, with the labels that each got.

#81 Add contribution
  .zenodo.json
Labels: Internal

#82 Update contributors
  .all-contributorsrc
  .zenodo.json
  README.md
Labels: Documentation, Internal

#79 Fix type errors in exporting history after manually adding peaks
  peakdet/editor.py
Labels: BugFIX
