Repository physiopy/peakdet, pull requests merged in 2024-06, with the labels that each got.

#69 bring branch up to date with master
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_BUGS.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_DISCUSSION.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_GENERAL.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_MEETING.md
  .pre-commit-config.yaml
  README.md
  docs/conf.py
  docs/requirements.txt
  docs/user_guide/loading.rst
  docs/user_guide/physio.rst
  peakdet/__init__.py
  peakdet/_version.py
  peakdet/analytics.py
  peakdet/cli/run.py
  peakdet/editor.py
  peakdet/external.py
  peakdet/io.py
  peakdet/modalities.py
  peakdet/operations.py
  peakdet/physio.py
  peakdet/tests/__init__.py
  peakdet/tests/test_analytics.py
  peakdet/tests/test_editor.py
  peakdet/tests/test_external.py
  peakdet/tests/test_io.py
  peakdet/tests/test_operations.py
  peakdet/tests/test_physio.py
  peakdet/tests/test_utils.py
  peakdet/tests/utils.py
  peakdet/utils.py
  setup.cfg
  setup.py
  versioneer.py
Labels: Documentation, Internal, Testing

#65 Add auto-author and auto-label to github workflow
  .github/labeler.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/auto-label.yml
Labels: Internal

#41 Add Continuous Deployment tools (`auto`, packaging workflows, zenodo)
  .autorc
  .github/workflows/auto-release.yml
  .github/workflows/python-publish.yml
  .zenodo.json
Labels: Internal, Urgent

#62 Integrate Loguru
  peakdet/__init__.py
  peakdet/cli/run.py
  peakdet/editor.py
  peakdet/external.py
  peakdet/io.py
  peakdet/operations.py
  peakdet/physio.py
  peakdet/tests/__init__.py
  peakdet/tests/conftest.py
  peakdet/tests/test_external.py
  peakdet/tests/test_io.py
  peakdet/utils.py
  requirements.txt
  setup.cfg
Labels: Internal, Testing

#72 Update setup and runners
  .github/workflows/auto-release.yml
  .github/workflows/python-publish.yml
  setup.cfg
Labels: Internal
